fieldset {
    background-color: #01FFFF;
}

input:valid {
    background-color: yellow;
}

input#selectedDate {
    background-color: #fff;
}

input[type="submit"] {
    background-color: #fff;
}

input[type="reset"] {
    background-color: #fff;
}

h1.titulo {
    color: blue;
    text-align: center;
}

.legend {
    background-color: red;
}

span#demo.rojo {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

span#demo.green {
    color: green;
    font-weight: bold;
    font-size: 18px;
}

span#validador.rojo {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

span#validador.green {
    color: green;
    font-weight: bold;
    font-size: 18px;
}